li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
    list-style-type: none;

}

img{
    width: 200px;
}

.text{
    display: flex;
    align-items: center;
}

.text p{
    max-width: 400px;
    margin-left: 10px;
}

.bild-duva{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bild-duva img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

#zoom-in-effekt:hover{
    scale: 1.4;
    transition: 2s;
}